/* Estilos para CartWidget.css */
.cart-widget {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #333;
}

.cart-icon {
    font-size: 24px;
    margin-right: 5px;
}

.item-count {
    background-color: #f44336;
    color: #fff;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
}