<<<<<<< HEAD

.cart-widget {
=======
/* Estilos para CartWidget.css */
.cart-widget {
    display: flex;
    align-items: center;
>>>>>>> 9321eb74634610fbf840b133ad9db562a1ab7e9e
    cursor: pointer;
    color: #333;
}

.cart-icon {
    font-size: 24px;
    margin-right: 5px;
<<<<<<< HEAD
    display: flex;
=======
>>>>>>> 9321eb74634610fbf840b133ad9db562a1ab7e9e
}

.item-count {
    background-color: #f44336;
    color: #fff;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
}